<!-- Titre de la page -->
<h1 class="text-center text-dark my-5">
  Liste des films
</h1>

<!-- Liste des films -->
<div class="container mt-5 d-flex justify-content-center">
  <div class="d-flex flex-nowrap justify-content-center gap-4">
    @for (film of listFilms; track film) {
      <div class="film" style="flex: 0 0 auto;">
        <div class="card shadow-lg border-0 rounded-3 card-title film-title">
          <div class="card-body text-center" (click)="showFilmDetails(film)">
            <h5 class="card-title">{{ film.name }}</h5>
          </div>
        </div>
      </div>
    }
  </div>
</div>


@if (selectedFilm != null) {
  <div class="container mt-4 text-center">
    <h3>{{ selectedFilm.name }}</h3>
    <img [src]="'/assets/' + selectedFilm.affiche" class="img-fluid rounded-3" alt="Affiche du film" height="400" width="250">
  </div>
}



